@font-face {
  font-family: "mantinia";
  src: url("./mantinia.otf");
}
@font-face {
  font-family: "agmena";
  src: url("./agmena-pro-book.ttf");
}
:root {
  --colorOne: #f9c043;
  --colorTwo: #27170d;
  --colorThree: #040200;
}
body {
  background: var(--colorThree);
  background: linear-gradient(
    0deg,
    var(--colorThree) 80%,
    var(--colorTwo) 100%
  );
  height: 400px;
  width: 400px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "agmena";
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.title-container {
  padding: 2px 0;
  -webkit-app-region: drag;
  width: 80%;
}

.title {
  font-family: "mantinia";
  font-size: larger;
  color: var(--colorOne);
  margin: 0;
}

.buttons {
  width: 20%;
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
}

.buttons button {
  color: var(--colorOne);
  margin: 0;
  margin-left: 5px;
  background-color: inherit;
  border: solid 2px var(--colorOne);
  border-radius: 5px;
  font-size: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.buttons button:hover {
  color: var(--colorTwo);
  background-color: var(--colorOne);
}

#timer button,
img {
  background-color: inherit;
  border: none;
  transition-duration: 1s;
  cursor: pointer;
}
#timer img:hover {
  filter: drop-shadow(0 0 10px var(--colorOne));
}



.app {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
}

#bosses {
  display: none;
  width: 20%; 
}

#bosses img {
  max-height: 80px;
  cursor: default;
}

#bosses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#setTimer {
  font-size: 5rem;
  font-family: "mantinia";
  color: var(--colorOne);
  display: flex;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#startRest {
  display: none;
}

#message {
  color: var(--colorOne);
  text-align: center;
}
